# Below is just for question 1's dataframe (Please skip reading this section):

In [1]:
import pandas as pd
import numpy as np

data = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = data[0]
df.rename(columns={'Postcode':'PostCode'},inplace=True)
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)
df.sort_values(['Neighbourhood'],ascending=True,axis=0,inplace=True)
df = df.groupby(['PostCode','Borough'])['Neighbourhood'].agg(','.join).reset_index()

total_row = df.shape[0]
Count = 0

for i in np.arange(total_row):
    if df.Neighbourhood[i] == 'Not assigned':
        df.Neighbourhood[i] = df.Borough[i]

print('Shape = ',df.shape)
df.head()

Shape =  (103, 3)

  PostCode      Borough                         Neighbourhood
0      M1B  Scarborough                         Malvern,Rouge
1      M1C  Scarborough  Highland Creek,Port Union,Rouge Hill
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

#  Answers for question 2 (Please review from here):

In [3]:
df1 = pd.read_csv("http://cocl.us/Geospatial_data")
df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
toronto_data = df.join(df1.set_index('Postal Code'), on='PostCode')
toronto_data.head(10)

,PostCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern,Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Port Union,Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West",43.692657,-79.264848